<a href="https://colab.research.google.com/github/patryktk/175IC-machine-learning-21176/blob/main/Lab8/Lab8_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
import pandas as pd

In [3]:
#czytanie plików CSV
with open('employee_birthday.txt') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are name, department, birthday month
	John Smith works in the Accounting department, and was born in November.
	Erica Meyers works in the IT department, and was born in March.
Processed 3 lines.

In [5]:
#pisanie plików csv
with open('employee_file.csv', mode='w') as employee_file:
    employee_writer = csv.writer(employee_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)

    employee_writer.writerow(['John Smith', 'Accounting', 'November'])
    employee_writer.writerow(['Erica Meyers', 'IT', 'March'])

with open('employee_file.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are John Smith, Accounting, November
	Erica Meyers works in the IT department, and was born in March.
Processed 2 lines.

In [6]:
#pisanie plików csv
with open('employee_file2.csv', mode='w') as csv_file:
    fieldnames = ['emp_name', 'dept', 'birth_month']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'emp_name': 'John Smith', 'dept': 'Accounting', 'birth_month': 'November'})
    writer.writerow({'emp_name': 'Erica Meyers', 'dept': 'IT', 'birth_month': 'March'})

In [7]:
with open('hrdata.csv', mode='w') as csv_file:
    fieldnames = ['Name', 'Hire Date', 'Salary', 'Sick Days']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'Name': 'Graham Chapman', 'Hire Date': '3/15/14', 'Salary': '50000.00', 'Sick Days': '10'})
    writer.writerow({'Name': 'John Cleese', 'Hire Date': '06/01/15', 'Salary': '65000.00', 'Sick Days': '8'})
    writer.writerow({'Name': 'Eric Idle', 'Hire Date': '05/12/14', 'Salary': '45000.00', 'Sick Days': '10'})
    writer.writerow({'Name': 'Terry Jones', 'Hire Date': '11/01/13', 'Salary': '70000.00', 'Sick Days': '3'})
    writer.writerow({'Name': 'Terry Gilliam', 'Hire Date': '08/12/14', 'Salary': '48000.00', 'Sick Days': '7'})
    writer.writerow({'Name': 'Michael Palin', 'Hire Date': '05/23/13', 'Salary': '66000.00', 'Sick Days': '8'})

In [10]:
#Czytanie plików .csv za pomocą biblioteki pandas

df = pd.read_csv('hrdata.csv', index_col = 'Name')
print(df)

               Hire Date   Salary  Sick Days
Name
Graham Chapman   3/15/14  50000.0         10
John Cleese     06/01/15  65000.0          8
Eric Idle       05/12/14  45000.0         10
Terry Jones     11/01/13  70000.0          3
Terry Gilliam   08/12/14  48000.0          7
Michael Palin   05/23/13  66000.0          8

In [12]:
#pisanie plików .csv z pomocą biblioteki pandas
#zmiana indexu na emooyee
#parsowanie dat
import pandas
df = pandas.read_csv('hrdata.csv', 
            index_col='Employee', 
            parse_dates=['Hired'],
            header=0, 
            names=['Employee', 'Hired', 'Salary', 'Sick Days'])
df.to_csv('hrdata_modified.csv')

df = pd.read_csv('hrdata_modified.csv')
print(df)

         Employee       Hired   Salary  Sick Days
0  Graham Chapman  2014-03-15  50000.0         10
1     John Cleese  2015-06-01  65000.0          8
2       Eric Idle  2014-05-12  45000.0         10
3     Terry Jones  2013-11-01  70000.0          3
4   Terry Gilliam  2014-08-12  48000.0          7
5   Michael Palin  2013-05-23  66000.0          8