<a href="https://colab.research.google.com/github/patryktk/175IC-machine-learning-21176/blob/main/Lab2/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd


pd.read_csv("samochody1tys.csv");
data = pd.read_csv("samochody1tys.csv");

#Wyświetlenie pierszych 5 rekordów
print(data.head(5))

#Wyświetlenie ostatnich 5 rekordów
print(data.tail(5))

#Wyświetlenie 5 przypadkowych rekordów
print(data.sample(n=5))

#Wyświetlenie najdroższego samochodu
print(data.sort_values('cena', ascending=False).head(1))

#Usuwanie kolumn które mają pusty rekord (N/A)
print(data.dropna())

#Wszystkie puste rekordy (N/A) zapełnia wiadomościa 'puste'
print(data.fillna("puste"))

#Wszystkie samochody z silnikiem Diesel
silnik = data[data.rodzaj_silnika=="Diesel"]
print(silnik)

#Wszystkie samochody wyprodukowane po 2012 roku
rokprodukcji = data[data.rok_produkcji>2012]
print(rokprodukcji)

#Usunięcie kolumny id
print(data.drop(columns= 'id'))

#samochód z najmniejszym przebiegiem
print(data.nsmallest(1,'przebieg'))

   id       marka        model  ...  przebieg     cena     wojewodztwo
0   0      Nissan  X-Trail III  ...  160000.0  75900.0    Dolnośląskie
1   1         BMW       X1 E84  ...  149000.0  70900.0  Świętokrzyskie
2   2        Opel     Zafira A  ...   99000.0   9800.0        Opolskie
3   3     Hyundai        i10 I  ...   93000.0  11900.0         Łódzkie
4   4  Volkswagen           CC  ...  127428.0  49900.0   Wielkopolskie

[5 rows x 9 columns]
      id       marka     model  ...  przebieg      cena  wojewodztwo
995  995  Alfa Romeo       159  ...  182000.0   33900.0  Małopolskie
996  996       Škoda  Fabia II  ...   42700.0   25400.0    Lubelskie
997  997     Renault     Modus  ...  168111.0   10900.0      Łódzkie
998  998        Audi     A3 8L  ...  226500.0    5400.0  Małopolskie
999  999       Volvo   XC 60 I  ...   13617.0  136900.0  Małopolskie

[5 rows x 9 columns]
      id    marka       model  ...  przebieg      cena  wojewodztwo
676  676  Renault      Captur  ...   31000.0   52900.0    Pomorskie
42    42   Nissan  Qashqai II  ...      10.0   91200.0      Śląskie
183  183     Audi       Q5 FY  ...       1.0  166900.0    Podlaskie
662  662  Renault  Megane III  ...  138000.0   28900.0      Łódzkie
323  323  Citroën  Berlingo I  ...  291705.0    7500.0  Mazowieckie

[5 rows x 9 columns]
      id          marka    model  ...  przebieg      cena  wojewodztwo
405  405  Mercedes-Benz  SL R231  ...    2000.0  616000.0  Mazowieckie

[1 rows x 9 columns]
      id       marka        model  ...  przebieg      cena     wojewodztwo
0      0      Nissan  X-Trail III  ...  160000.0   75900.0    Dolnośląskie
1      1         BMW       X1 E84  ...  149000.0   70900.0  Świętokrzyskie
2      2        Opel     Zafira A  ...   99000.0    9800.0        Opolskie
3      3     Hyundai        i10 I  ...   93000.0   11900.0         Łódzkie
4      4  Volkswagen           CC  ...  127428.0   49900.0   Wielkopolskie
..   ...         ...          ...  ...       ...       ...             ...
995  995  Alfa Romeo          159  ...  182000.0   33900.0     Małopolskie
996  996       Škoda     Fabia II  ...   42700.0   25400.0       Lubelskie
997  997     Renault        Modus  ...  168111.0   10900.0         Łódzkie
998  998        Audi        A3 8L  ...  226500.0    5400.0     Małopolskie
999  999       Volvo      XC 60 I  ...   13617.0  136900.0     Małopolskie

[1000 rows x 9 columns]
      id       marka        model  ...  przebieg      cena     wojewodztwo
0      0      Nissan  X-Trail III  ...  160000.0   75900.0    Dolnośląskie
1      1         BMW       X1 E84  ...  149000.0   70900.0  Świętokrzyskie
2      2        Opel     Zafira A  ...   99000.0    9800.0        Opolskie
3      3     Hyundai        i10 I  ...   93000.0   11900.0         Łódzkie
4      4  Volkswagen           CC  ...  127428.0   49900.0   Wielkopolskie
..   ...         ...          ...  ...       ...       ...             ...
995  995  Alfa Romeo          159  ...  182000.0   33900.0     Małopolskie
996  996       Škoda     Fabia II  ...   42700.0   25400.0       Lubelskie
997  997     Renault        Modus  ...  168111.0   10900.0         Łódzkie
998  998        Audi        A3 8L  ...  226500.0    5400.0     Małopolskie
999  999       Volvo      XC 60 I  ...   13617.0  136900.0     Małopolskie

[1000 rows x 9 columns]
      id       marka        model  ...  przebieg      cena     wojewodztwo
0      0      Nissan  X-Trail III  ...  160000.0   75900.0    Dolnośląskie
1      1         BMW       X1 E84  ...  149000.0   70900.0  Świętokrzyskie
4      4  Volkswagen           CC  ...  127428.0   49900.0   Wielkopolskie
6      6      Nissan    X-Trail I  ...  174000.0   23200.0    Dolnośląskie
8      8  Volkswagen           CC  ...   52000.0   97000.0       Pomorskie
..   ...         ...          ...  ...       ...       ...             ...
986  986      Toyota  Avensis III  ...   96000.0   41900.0         Łódzkie
989  989         BMW  Seria 5 E39  ...  404000.0   14900.0    Dolnośląskie
994  994        Fiat     Bravo II  ...  217200.0   18900.0  Świętokrzyskie
995  995  Alfa Romeo          159  ...  182000.0   33900.0     Małopolskie
999  999       Volvo      XC 60 I  ...   13617.0  136900.0     Małopolskie

[475 rows x 9 columns]
      id       marka          model  ...  przebieg      cena   wojewodztwo
0      0      Nissan    X-Trail III  ...  160000.0   75900.0  Dolnośląskie
5      5        Fiat            500  ...   36800.0   74200.0       Śląskie
8      8  Volkswagen             CC  ...   52000.0   97000.0     Pomorskie
9      9      Nissan           Juke  ...   18000.0   56900.0   Mazowieckie
10    10      Toyota  Corolla Seria  ...   26415.0   53000.0      Lubuskie
..   ...         ...            ...  ...       ...       ...           ...
985  985        Fiat            500  ...     500.0   74900.0   Mazowieckie
988  988         BMW             M2  ...    4000.0  271976.0   Małopolskie
992  992     Renault        Clio IV  ...       1.0   58000.0       Śląskie
993  993        Fiat        Tipo II  ...       2.0   47350.0   Mazowieckie
999  999       Volvo        XC 60 I  ...   13617.0  136900.0   Małopolskie

[324 rows x 9 columns]
          marka        model  rok_produkcji  ...  przebieg      cena     wojewodztwo
0        Nissan  X-Trail III         2014.0  ...  160000.0   75900.0    Dolnośląskie
1           BMW       X1 E84         2012.0  ...  149000.0   70900.0  Świętokrzyskie
2          Opel     Zafira A         2004.0  ...   99000.0    9800.0        Opolskie
3       Hyundai        i10 I         2008.0  ...   93000.0   11900.0         Łódzkie
4    Volkswagen           CC         2010.0  ...  127428.0   49900.0   Wielkopolskie
..          ...          ...            ...  ...       ...       ...             ...
995  Alfa Romeo          159         2009.0  ...  182000.0   33900.0     Małopolskie
996       Škoda     Fabia II         2012.0  ...   42700.0   25400.0       Lubelskie
997     Renault        Modus         2004.0  ...  168111.0   10900.0         Łódzkie
998        Audi        A3 8L         2000.0  ...  226500.0    5400.0     Małopolskie
999       Volvo      XC 60 I         2016.0  ...   13617.0  136900.0     Małopolskie

[1000 rows x 8 columns]
    id   marka        model  ...  przebieg     cena  wojewodztwo
32  32  Suzuki  SX4 S-Cross  ...       1.0  73900.0      Śląskie

[1 rows x 9 columns]